<div class="jumbotron">
    <h1>Cox Auto Insurance</h1>
    <p class="lead">Cox Auto Insurance has been dedicated to bringing you the best rates for your automotive insurance needs since 1826.</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Affordable rates</h2>
        <p>
            <h4>Fill out our @Html.ActionLink("insurance form", "Create", "Insuree_1") today to see your rate!</h4>
        </p>
    </div>
</div>
